.container{
    height: 600px;
    width: 900px;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;


    

}



.box1{
    height: 200px;
    width: 200px;
    background-color: brown;
    border: 1px solid black;
   

    /* Transition for hover effects */
    transition: transform 2s, background-color 1s;

    /* Animation */
   animation: 3s ease-in 1s infinite reverse both running slide-in;
  
}

.box1:hover {
    /* transform: translate(200px); */
    /* transform: scale(1, 2); */
    /* transform: translate(30px, 20px) rotate(20deg); */
    /* transform: skewX(30deg); */
    /* margin-right: 200px; */
    background-color: red;
}




/* Define animation steps */
@keyframes moveBox {
    from {
        transform: translateX(0);
        background-color: rgb(151, 165, 42);
    }

    to {
        transform: translateX(200px);
        background-color: red;
    }
}